/* You can add global styles to this file, and also import other style files */

@import '~@fortawesome/fontawesome-free/css/brands.css';
@import '~@fortawesome/fontawesome-free/css/regular.css';
@import '~@fortawesome/fontawesome-free/css/solid.css';
@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
@import '~simple-line-icons/css/simple-line-icons.css';


//== Bootstrap
@import "./app/shared/styles/bootstrap.scss";
//== Application
@import "./app/shared/styles/app.scss";

@import "~@ng-select/ng-select/themes/default.theme.css";


a.list-group-item.selected {
    background: #23b7e5;
    color: white;
}

.form-group.text-center button {
    position: relative;
    top: 30px;
}