<kendo-grid
  (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
  (save)="saveHandler($event)" (remove)="removeHandler($event)"
  (add)="addHandler($event)"
  (pageChange)="pageChange($event)"
  [data]="gridView"
  [pageSize]="pageSize"
  [loading]="loading"
  [pageable]="true"
  [skip]="skip"
  [height]="410"
>
  <ng-template kendoGridToolbarTemplate>
  </ng-template>
  <kendo-grid-column field="id" editor="numeric" width="130" [editable]="false"></kendo-grid-column>
  <kendo-grid-column field="name"  editor="text"width="200"></kendo-grid-column>
  <kendo-grid-column field="father_name"  editor="text"width="200"></kendo-grid-column>
  <kendo-grid-column field="enrollment_place"  editor="text"width="200"></kendo-grid-column>
  <kendo-grid-column field="enrollment_number"  editor="text"width="200"></kendo-grid-column>
  <kendo-grid-column field="mother_name"  editor="text"width="200"></kendo-grid-column>



  <kendo-grid-command-column title="command" width="220">
    <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem>
      <!-- edit command directive, will be visible when not in edit mode -->
      <button kendoGridEditCommand [primary]="true">Edit</button>
      <!-- remove command directive, will be visible when not in edit mode -->
      <button kendoGridRemoveCommand>Delete</button>
      <!-- save command directive, will be visible when in edit mode -->
      <button kendoGridSaveCommand>Save</button>
      <!-- cancel command directive, will be visible when in edit mode -->
      <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
      <button class="btn btn-green" (click)="edit(dataItem)">Edit2</button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>

